@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #424242;
  color: white;
  font-family: 'Roboto Thin', sans-serif;
  margin: 0 0 0 0;
  text-align: center;
}
input{
  margin: 10px;
}
a {
  color: aqua;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.jumbotron{
  color:black;
}

.jumbotron.style1{
  background-color: #3F51B5;
  color: white;
  padding: 1em 1em 4em;
}

.jumbotron.footer{
  /*background-color: #000;*/
  /*padding: 1em 1em 1em;*/
}
