body {
  background-color: #424242;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 0 0 0;
  text-align: center;
}
h1{
  color: lime;
}
h2 {
  text-decoration: underline;
}
a {
  color: aqua;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.intro {
  text-align:center;
  padding: 2em 2em 2em;
}

.content {
  background-color:#3F51B5;
  padding: 1em 2em 2em;
}

.footer {
  background-color:black;
  padding: 1em 1em 1em;
}

button{
  color: lime;
  background-color: black;
  font-size: 12px;
  border-color: lime;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
.table{
  text-align: center;
}
