@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #424242;
  opacity:0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 0 0;
  text-align: center;
}
input{
  margin: 10px;
  color: black;
}

a {
  color: aqua;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
